@charset "utf-8";
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: local('☺'), url('fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato italic';
  src: url('../fonts/Lato-Italic.eot');
  src: local('☺'), url('../fonts/Lato-Italic.woff') format('woff'), url('../fonts/Lato-Italic.ttf') format('truetype'), url('../fonts/Lato-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato bold';
  src: url('../fonts/Lato-Bold.eot');
  src: local('☺'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}
header {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 35px;
  left: 0;
}
@media screen and (max-width: 767px) {
  header {
    top: 15px;
  }
}
header .header-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 85px;
}
header .header-row .header-menu {
  position: relative;
}
@media screen and (max-width: 767px) {
  header .header-row .header-menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
header .header-row .header-menu__logo {
  position: absolute;
  top: 6px;
  left: 51%;
  -webkit-transform: translate(-58%, 0px);
  -moz-transform: translate(-58%, 0px);
  -ms-transform: translate(-58%, 0px);
  -o-transform: translate(-58%, 0px);
  transform: translate(-58%, 0px);
}
@media screen and (max-width: 767px) {
  header .header-row .header-menu .menu__icon {
    display: block;
    position: absolute;
    top: 40px;
    right: 50px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 4;
  }
  header .header-row .header-menu .menu__icon::before,
  header .header-row .header-menu .menu__icon::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  header .header-row .header-menu .menu__icon::before {
    top: 0;
  }
  header .header-row .header-menu .menu__icon::after {
    bottom: 0;
  }
  header .header-row .header-menu .menu__icon span {
    display: block;
    background-color: #333;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  header .header-row .header-menu .menu__icon.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
    background-color: azure;
  }
  header .header-row .header-menu .menu__icon.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: azure;
  }
  header .header-row .header-menu .menu__icon.active span {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@media screen and (max-width: 767px) {
  header .header-row .menu__body {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #4d4959;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 125px 0 0 0;
    -webkit-transition: top 0.4s ease;
    -moz-transition: top 0.4s ease;
    -o-transition: top 0.4s ease;
    transition: top 0.4s ease;
  }
  header .header-row .menu__body.active {
    top: 0;
  }
}
header .header-row .menu__body a {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 2.6px;
  color: #4d4959;
  padding: 0 37.5px;
  position: relative;
}
header .header-row .menu__body a:nth-child(2) {
  padding: 0 107px 0 32px;
}
header .header-row .menu__body a:nth-child(3) {
  padding: 0 37.5px 0 110px;
}
header .header-row .menu__body a:nth-child(4) {
  padding-left: 25px;
}
header .header-row .menu__body a::after {
  content: "";
  background-color: #4d4959;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  top: 58%;
  right: 0;
}
header .header-row .menu__body a:nth-child(2)::after {
  display: none;
}
header .header-row .menu__body a:last-child::after {
  display: none !important;
}
@media screen and (max-width: 767px) {
  header .header-row .menu__body a {
    color: #fff;
    padding: 15px 15px;
    font-size: 20px;
  }
  header .header-row .menu__body a:nth-child(2) {
    padding: 15px 15px;
  }
  header .header-row .menu__body a:nth-child(2)::after {
    display: block;
  }
  header .header-row .menu__body a:last-child::after {
    display: none;
  }
  header .header-row .menu__body a:nth-child(3) {
    padding: 15px 15px;
  }
  header .header-row .menu__body a::after {
    content: "";
    background-color: #f4f4f4;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    right: 50%;
  }
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1130px;
  padding: 0 15px;
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg > img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.wrapper .page {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper .page .main-banner {
  min-height: 100vh;
}
.wrapper .page .main-banner .main-banner-body {
  min-height: 100vh;
}
.wrapper .page main {
  font-size: 22px;
}
.wrapper .page main .generation {
  background-color: #f7f7f7;
  padding: 117px 241px 135px 280px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .wrapper .page main .generation {
    padding: 50px 100px 50px 100px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper .page main .generation {
    padding: 25px 50px 25px 50px;
  }
}
@media screen and (max-width: 375px) {
  .wrapper .page main .generation {
    padding: 25px 15px 25px 15px;
  }
}
.wrapper .page main .generation h2 {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 3.6px;
  text-align: center;
  color: #353738;
  margin: 30px 0 20px 0;
}
.wrapper .page main .generation p {
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: #848789;
}
.wrapper .page main .brands .row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .wrapper .page main .brands .row {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.wrapper .page main .brands .row .col-b {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 66.5%;
  -ms-flex: 1 1 66.5%;
  flex: 1 1 66.5%;
}
.wrapper .page main .brands .row .col-b .item {
  display: block;
  height: 100%;
  position: relative;
}
.wrapper .page main .brands .row .col-b .item__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 26;
}
@media screen and (max-width: 425px) {
  .wrapper .page main .brands .row .col-b .item__logo {
    max-width: 60px;
  }
}
.wrapper .page main .brands .row .col-b .item__image {
  display: block;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .wrapper .page main .brands .row .col-b .item__image {
    padding: 0 0 40% 0;
  }
}
.wrapper .page main .brands .row .col-b .item__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 21;
  width: 0;
  height: 100%;
  background-color: rgba(100, 194, 158, 0.5);
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
.wrapper .page main .brands .row .col-b .item:hover .item__background {
  width: 100%;
}
.wrapper .page main .brands .row .col-s {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 33.5%;
  -ms-flex: 1 1 33.5%;
  flex: 1 1 33.5%;
}
.wrapper .page main .brands .row .col-s .text-block {
  text-align: center;
  padding: 70px 68px 64px 67px;
  position: relative;
}
@media screen and (max-width: 1180px) {
  .wrapper .page main .brands .row .col-s .text-block {
    padding: 35px 34px 32px 33.5px;
  }
}
.wrapper .page main .brands .row .col-s .text-block::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  left: 50%;
  bottom: -10px;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.wrapper .page main .brands .row .col-s .text-block h2 {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: 3.6px;
  text-align: center;
  color: #353738;
  margin: 31px 0 26px 0;
  text-transform: uppercase;
}
.wrapper .page main .brands .row .col-s .text-block p {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: justify;
  color: #848789;
}
.wrapper .page main .brands .row .col-s .text-block .line {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #73777a;
  margin-top: 20px;
  position: relative;
  z-index: 53;
}
.wrapper .page main .brands .row .col-s__image {
  padding-bottom: 43.4%;
}
.wrapper .page main .brands .row .col-m {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}
.wrapper .page main .brands .row .col-m__item {
  display: block;
  height: 100%;
  position: relative;
}
.wrapper .page main .brands .row .col-m__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 26;
}
@media screen and (max-width: 425px) {
  .wrapper .page main .brands .row .col-m__logo {
    max-width: 60px;
  }
}
.wrapper .page main .brands .row .col-m__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
}
.wrapper .page main .brands .row .col-m__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 21;
  width: 0;
  height: 100%;
  background-color: rgba(100, 194, 158, 0.5);
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
.wrapper .page main .brands .row .col-m:hover .col-m__background {
  width: 100%;
}
.wrapper .page main .brands .row .col-m .text-block {
  text-align: center;
  padding: 70px 68px 64px 67px;
  position: relative;
}
@media screen and (max-width: 1180px) {
  .wrapper .page main .brands .row .col-m .text-block {
    padding: 35px 34px 32px 33.5px;
  }
}
.wrapper .page main .brands .row .col-m .text-block::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  left: 50%;
  bottom: -10px;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.wrapper .page main .brands .row .col-m .text-block h2 {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: 3.6px;
  text-align: center;
  color: #353738;
  margin: 31px 0 26px 0;
  text-transform: uppercase;
}
.wrapper .page main .brands .row .col-m .text-block p {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: justify;
  color: #848789;
}
.wrapper .page main .brands .row .col-m .text-block .line {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #73777a;
  margin-top: 20px;
  position: relative;
  z-index: 53;
}
.wrapper .page main .brands .row .col-m__bottomimg {
  padding-bottom: 43.4%;
}
@media screen and (max-width: 1024px) {
  .wrapper .page main .brands .row.rev {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .wrapper .page main .brands .row.rev .col-m:first-child .item {
    padding: 0 0 50% 0;
  }
  .wrapper .page main .brands .row.rev .col-m__image {
    display: block;
    height: 100%;
    padding: 0 0 50% 0;
  }
  .wrapper .page main .brands .row.rev .col-m {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }
  .wrapper .page main .brands .row.rev .col-m:last-child {
    display: none;
  }
}
.wrapper .page main .slider {
  padding: 124px 0 68px 0;
  background-color: #f7f7f7;
  /* Активная точка */
  /* Элемент точки */
}
.wrapper .page main .slider .container .slider__body {
  min-width: 0;
}
.wrapper .page main .slider .container .slider__body .slider__item {
  text-align: center;
}
.wrapper .page main .slider .container .slider__body .slider__item img {
  display: inline-block;
  margin: 0 auto;
}
.wrapper .page main .slider .container .slider__body .slider__title {
  margin: 37px 0 27px 0;
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #333;
}
.wrapper .page main .slider .container .slider__body .slider__title span {
  color: #848789;
}
.wrapper .page main .slider .container .slider__body .slider__text {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  font-style: italic;
  letter-spacing: 1.8px;
  color: #848789;
}
@media screen and (max-width: 425px) {
  .wrapper .page main .slider .container .slider__body .slider__text {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1.2px;
  }
}
.wrapper .page main .slider .slick-dots {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.wrapper .page main .slider .slick-dots li {
  width: 11px;
  height: 11px;
  border: 1px solid #a9afb3;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  margin: 0 4.5px 0 4.5px;
  cursor: pointer;
}
.wrapper .page main .slider .slick-dots li.slick-active {
  background-color: #a9afb3;
}
.wrapper .page main .slider .slick-dots li button {
  font-size: 0;
}
.wrapper .page main .shop .shop-gallery {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
}
.wrapper .page main .shop .shop-gallery__column {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.wrapper .page main .shop .shop-gallery__column .block {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.wrapper .page main .shop .shop-gallery__column .block .block-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.wrapper .page main .shop .shop-gallery__column .block .block-row .small-block {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.wrapper .page main .shop .shop-gallery__item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}
@media screen and (max-width: 1024px) {
  .wrapper .page main .shop .shop-gallery__item {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper .page main .shop .shop-gallery__item .block.ibg {
    padding: 0 0 55.3% 0;
  }
}
.wrapper .page main .shop .shop-gallery__item_c {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}
@media screen and (max-width: 1024px) {
  .wrapper .page main .shop .shop-gallery__item_c {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}
.wrapper .page main .shop .shop-gallery__item_c .shop-gallery__row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.wrapper .page main .shop .shop-gallery__item_c .block {
  padding: 0 0 100.2% 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.wrapper .page main .shop .shop-gallery a.block,
.wrapper .page main .shop .shop-gallery a.small-block {
  display: block;
  position: relative;
}
.wrapper .page main .shop .shop-gallery a.block .hover,
.wrapper .page main .shop .shop-gallery a.small-block .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 194, 158, 0);
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.wrapper .page main .shop .shop-gallery a.block .hover .watermark,
.wrapper .page main .shop .shop-gallery a.small-block .hover .watermark {
  display: inline-block;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.wrapper .page main .shop .shop-gallery a.block .hover .watermark img,
.wrapper .page main .shop .shop-gallery a.small-block .hover .watermark img {
  max-width: 100%;
}
.wrapper .page main .shop .shop-gallery a.block .hover .watermark span,
.wrapper .page main .shop .shop-gallery a.small-block .hover .watermark span {
  display: block;
  font-family: Lato;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.8px;
  text-align: center;
  color: #ffffff;
  margin-top: 14px;
}
.wrapper .page main .shop .shop-gallery a.block:hover .hover,
.wrapper .page main .shop .shop-gallery a.small-block:hover .hover {
  background-color: rgba(100, 194, 158, 0.6);
}
.wrapper .page main .shop .shop-gallery a.block:hover .hover .watermark,
.wrapper .page main .shop .shop-gallery a.small-block:hover .hover .watermark {
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  .wrapper .page main .shop .shop-gallery .block-row .small-block {
    padding: 0 0 55.3% 0;
    height: 100%;
  }
}
.wrapper .page main .shop .shop-footer {
  padding: 75px 0;
  background-color: #000;
  text-align: center;
}
.wrapper .page main .shop .shop-footer .btn {
  display: 8121991;
  padding: 20px 55px;
  text-transform: uppercase;
  border: solid 1px rgba(255, 255, 255, 0.5);
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.8px;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 425px) {
  .wrapper .page main .shop .shop-footer .btn {
    padding: 15px 35px;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
  }
}
.wrapper .page main .subscribe {
  padding: 109px 0 111px 0;
}
@media screen and (max-width: 767px) {
  .wrapper .page main .subscribe {
    padding: 50px 0 50px 0;
  }
}
.wrapper .page main .subscribe .container {
  text-align: center;
}
.wrapper .page main .subscribe .container .subscribe-body {
  max-width: 534px;
  margin: 0 auto;
}
.wrapper .page main .subscribe .container .subscribe-body p {
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #848789;
  margin: 34px 0 31px 0;
}
.wrapper .page main .subscribe .container .subscribe-body .subscribe-form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 425px) {
  .wrapper .page main .subscribe .container .subscribe-body .subscribe-form {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.wrapper .page main .subscribe .container .subscribe-body .subscribe-form__field {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 400px;
  -ms-flex: 1 1 400px;
  flex: 1 1 400px;
}
@media screen and (max-width: 425px) {
  .wrapper .page main .subscribe .container .subscribe-body .subscribe-form__field {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}
.wrapper .page main .subscribe .container .subscribe-body .subscribe-form__field input {
  width: 100%;
  padding: 19px 0 24px 28px;
  border: solid 1px #d3d7d9;
  font-family: Lato;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: normal;
  color: #bdbdbd;
}
.wrapper .page main .subscribe .container .subscribe-body .subscribe-form__field input::-moz-placeholder {
  color: #bdbdbd;
}
.wrapper .page main .subscribe .container .subscribe-body .subscribe-form__field input::-webkit-input-placeholder {
  color: #bdbdbd;
}
.wrapper .page main .subscribe .container .subscribe-body .subscribe-form__btn {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 126px;
  -ms-flex: 1 1 126px;
  flex: 1 1 126px;
}
@media screen and (max-width: 425px) {
  .wrapper .page main .subscribe .container .subscribe-body .subscribe-form__btn {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}
.wrapper .page main .subscribe .container .subscribe-body .subscribe-form__btn button {
  width: 126px;
  height: 69px;
  margin: 0 0 0 8px;
  background-color: #64c29e;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .wrapper .page main .subscribe .container .subscribe-body .subscribe-form__btn button {
    width: 100%;
    margin: 8px 0 0 0;
  }
}
.wrapper .page .footer {
  padding: 99px 0 103px 0;
}
@media screen and (max-width: 768px) {
  .wrapper .page .footer {
    padding: 50px 0 50px 0;
  }
}
.wrapper .page .footer .container .row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrapper .page .footer .container .row .footer__column {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}
@media screen and (max-width: 768px) {
  .wrapper .page .footer .container .row .footer__column {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}
.wrapper .page .footer .container .row .footer__column_l {
  text-align: left;
}
.wrapper .page .footer .container .row .footer__column_l p {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: right;
  color: #848789;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .wrapper .page .footer .container .row .footer__column_l p {
    text-align: center;
  }
}
.wrapper .page .footer .container .row .footer__column_l p.bold {
  font-style: normal;
  font-weight: bold;
}
.wrapper .page .footer .container .row .footer__column_c {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .wrapper .page .footer .container .row .footer__column_c {
    margin: 20px 0;
  }
}
.wrapper .page .footer .container .row .footer__column_c a {
  display: inline-block;
  width: 35px;
  height: 34px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
.wrapper .page .footer .container .row .footer__column_c a.fb {
  margin: 0 15px;
}
.wrapper .page .footer .container .row .footer__column_r {
  text-align: right;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .wrapper .page .footer .container .row .footer__column_r {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.wrapper .page .footer .container .row .footer__column_r span {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: right;
  color: #848789;
  text-align: left;
  margin-right: 9px;
}
